In [ ]:
"""
Plantilla de Análisis de Datos con Pandas y Seaborn
Autor: Jesús Erro
Fecha: 2025-02-10
"""

import pandas as pd
import importlib

try:
    import cleaning as c  # Importamos el módulo de limpieza
    importlib.reload(c)  # Recargamos en caso de cambios
except ImportError:
    print("❌ Error: No se pudo importar 'cleaning.py'. Verifica que el archivo está en el mismo directorio.")

# Instanciamos el procesador de datos
processor = c.DataProcessor("data/GSAF5.xls")

# Cargamos y limpiamos los datos
processor.load_data()
processor.clean_columns()
processor.show_head(3)

✅ Datos data/GSAF5.xls cargados correctamente.
✅ Columnas limpiadas.

,date,year,type,country,state,location,activity,name,sex,age,...,species_,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,2025-02-07 00:00:00,2025.0,Unprovoked,Turks and Caicos,NaN,Thompson Cove Beach,Swimming,Unknown,F,55,...,Unknown,Todd Smith: Platform X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-02-03 00:00:00,2025.0,Unprovoked,Australia,Queensland,"Woorim Beach, Bribie Island,",Swimming,Charlize Zmuda,F,17,...,Bull shark,9 News: The Brisbane Times: The Guardian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN