## Carga del dataframe limpio

In [2]:
import pandas as pd

# Cargar el archivo Excel limpio
file_path = "../data/processed/GSAF5_cleaned.xlsx"
df = pd.read_excel(file_path, engine="openpyxl")

# Mostrar las primeras filas del DataFrame
df.head()

,date,year,type,country,state,location,activity,name,sex,age,...,species,source,pdf,href_formula,href,case_number,case_number.1,original_order,unnamed:_21,unnamed:_22
0,2025-02-07 00:00:00,2025.0,Unprovoked,Turks and Caicos,NaN,Thompson Cove Beach,Swimming,Unknown,F,55,...,Unknown,Todd Smith: Platform X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25-Sep-2022,2022.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Central Beach, Plettenberg Bay",Swimming,Kimon Bisogno,F,39,...,"White shark, 13'","Mirror, 9/25/2022",2022.09.25-Plett.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.09.25,2022.09.25,6802.0,NaN,NaN
2,06-Sep-2022,2022.0,Unprovoked,BAHAMAS,NaN,Green Cay,Snorkeling,Caroline DiPlacido,F,58,...,Bull shark,"B. Myatt, GSAF",2022.09.06-Bahamas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.09.06,2022.09.06,6801.0,NaN,NaN
3,03-Sep-2022,2022.0,Unprovoked,USA,Hawaii,"Lower Paia Beach Park, Maui",Swimming or Snorkeling,female,F,51,...,NaN,"Star Advertiser, 9/3/2022",2022.09.03-Maui.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.09.03,2022.09.03,6800.0,NaN,NaN
4,31-Aug-2022,2022.0,Unprovoked,AUSTRALIA,New South Wales,Avoca,Surfing,Sunni Pace,M,14,...,Bronze whaler,"Surfline, 9/2/2022",2022.08.31-Pace.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2022.08.31,2022.08.31,6799.0,NaN,NaN

## Por Países 

### Más ataques

In [6]:
ataques_pais = df.groupby('country').size().sort_values(ascending=False)
ataques_pais

country
USA                 2475
AUSTRALIA           1449
SOUTH AFRICA         591
FRANCE               176
PAPUA NEW GUINEA     153
                    ...
GABON                  1
SLOVENIA               1
DOMINIKANA             1
DJIBOUTI               1
AFRICA                 1
Length: 152, dtype: int64

### Países seguros

In [7]:
umbral = 5
paises_seguros = ataques_pais[ataques_pais < umbral]  # umbral podría ser 5, por ejemplo
paises_seguros

country
MICRONESIA              4
EL SALVADOR             4
NIGERIA                 4
GRENADA                 4
UNITED ARAB EMIRATES    4
                       ..
GABON                   1
SLOVENIA                1
DOMINIKANA              1
DJIBOUTI                1
AFRICA                  1
Length: 81, dtype: int64

## Regiones

### USA

In [10]:
df_usa = df[df['country'] == 'USA']
ataques_estado = df_usa.groupby('state').size().sort_values(ascending=False)
ataques_estado

state
Florida                     1148
Hawaii                       327
California                   314
South Carolina               168
North Carolina               117
Texas                         77
New Jersey                    53
New York                      39
Oregon                        31
Virginia                      19
Massachusetts                 18
Georgia                       17
Alabama                       17
Puerto Rico                   17
Louisiana                     16
Maryland                       9
Delaware                       8
Rhode Island                   8
Mississippi                    7
Connecticut                    6
US Virgin Islands              5
Tutuila Island                 3
New York                       3
Maui                           2
Palmyra Atoll                  2
Washington                     2
Maine                          2
Guam                           2
East coast                     2
North Carolina                 2
Pennsylvania                   1
Saipan                         1
South Carolina                 1
Virgin Islands                 1
Wake Island                    1
North Region                   1
 New Jersey                    1
North & South Carolina         1
Franklin County, Florida       1
Alaska                         1
Bahamas                        1
CUBA                           1
Carolina coast                 1
Cayman Islands                 1
Florida                        1
Illinois                       1
Noirth Carolina                1
Johnston Atoll                 1
Kentucky                       1
Merizo                         1
 North Carolina                1
Missouri                       1
New Mexico                     1
Midway Atoll                   1
dtype: int64

### Australia

In [12]:
df_australia = df[df['country'] == 'AUSTRALIA']
ataques_estado_aus = df_australia.groupby('state').size().sort_values(ascending=False)
ataques_estado_aus

state
New South Wales                         518
Queensland                              342
Western Australia                       220
South Australia                         108
Victoria                                 93
Torres Strait                            70
Tasmania                                 44
Northern Territory                       23
Northern Territory                        4
Westerm Australia                         4
Torres Strait                             2
Victoria                                  2
New South Wales                           1
Norfolk Island                            1
Queensland                                1
Territory of Cocos (Keeling) Islands      1
dtype: int64

## Distribución por especies de tiburón

In [19]:
especies = df.groupby('species').size().sort_values(ascending=False)
especies

species
White shark                                           189
Shark involvement prior to death was not confirmed    105
Invalid                                               102
Shark involvement not confirmed                        91
Tiger shark                                            85
                                                     ...
Blacktip shark, 5'                                      1
Blacktip shark, 2m                                      1
Blacktip shark, 2.4 m to 3 m [8' to 10']                1
Blacktip shark, 2'                                      1
“small brown shark”                                     1
Length: 1646, dtype: int64

### Ataques fatales por especie

In [20]:
especies_fatales = df[df['fatal'] == 1].groupby('species').size().sort_values(ascending=False)
especies_fatales

species
White shark                                                        50
Tiger shark                                                        29
Bull shark                                                         17
3.7 m [12'] shark                                                   9
3 m [10'] shark                                                     8
                                                                   ..
Bronze whaler shark                                                 1
Bronze whaler shark,3.7 m [12']                                     1
Bull or tiger shark                                                 1
Bull shark caught, leg recovered & buried beside the man's body     1
small sharks'                                                       1
Length: 286, dtype: int64

## Actividades 

### Con más ataques

In [15]:
actividades = df.groupby('activity').size().sort_values(ascending=False)

actividades

activity
Surfing                                                                         1087
Swimming                                                                         942
Fishing                                                                          472
Spearfishing                                                                     367
Wading                                                                           165
                                                                                ...
Fishing, thrown into water by heavy sea, clinging to rocks at the water line       1
Fishing, stepped on hooked shark's head                                            1
Fishing, standing in water washing fish                                            1
Fishing, standing in water next to purse net                                       1
yachtsman in a zodiac                                                              1
Length: 1575, dtype: int64

### Actividades Seguras

In [18]:
umbral = 5
actividades_seguras = actividades[actividades < umbral]
actividades_seguras

activity
Skin diving                                                                     4
Jumping                                                                         4
Diving for coins                                                                4
Freedom Swimming                                                                4
Kayak fishing                                                                   4
                                                                               ..
Fishing, thrown into water by heavy sea, clinging to rocks at the water line    1
Fishing, stepped on hooked shark's head                                         1
Fishing, standing in water washing fish                                         1
Fishing, standing in water next to purse net                                    1
yachtsman in a zodiac                                                           1
Length: 1509, dtype: int64