In [ ]:
# Importamos módulos necesarios
import sys
import os
import pandas as pd
import importlib

# Añadimos la ruta de src al path
sys.path.append(os.path.abspath("../src"))

# Importamos y recargamos módulos para evitar caché en Jupyter
import data_loader
import column_cleaner
import type_cleaner
import sex_cleaner
import duplicates_cleaner
import country_cleaner
import fatal_cleaner
import time_cleaner
import species_cleaner
import year_cleaner
import activity_cleaner

importlib.reload(data_loader)
importlib.reload(column_cleaner)
importlib.reload(type_cleaner)
importlib.reload(sex_cleaner)
importlib.reload(duplicates_cleaner)
importlib.reload(country_cleaner)
importlib.reload(fatal_cleaner)
importlib.reload(time_cleaner)
importlib.reload(species_cleaner)
importlib.reload(year_cleaner)
importlib.reload(activity_cleaner)

# Importamos las clases
from data_loader import DataLoader
from column_cleaner import ColumnCleaner
from type_cleaner import TypeCleaner
from sex_cleaner import SexCleaner
from duplicates_cleaner import DuplicatesCleaner
from country_cleaner import CountryCleaner
from fatal_cleaner import FatalCleaner
from time_cleaner import TimeCleaner
from species_cleaner import SpeciesCleaner
from year_cleaner import YearCleaner
from activity_cleaner import ActivityCleaner

# Ruta de entrada y salida
input_file = "../data/raw/GSAF5.xls"
output_file = "../data/processed/GSAF5_cleaned.xlsx"

# 1️⃣ Cargar los datos
loader = DataLoader(input_file)
loader.load_data()
df_original = loader.get_data()  # Guardamos el DataFrame original

# 2️⃣ Limpiar los nombres de las columnas
column_cleaner = ColumnCleaner(df_original)
column_cleaner.clean_columns()
df_cleaned = column_cleaner.get_cleaned_data()  # DataFrame con nombres limpios

# 3️⃣ Mostrar valores únicos de la columna "type" antes de la limpieza
if "type" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'type' antes de la limpieza:")
    print(df_cleaned["type"].unique())

# 4️⃣ Limpiar la columna "type"
type_cleaner = TypeCleaner(df_cleaned)
type_cleaner.clean_type_column()
df_cleaned = type_cleaner.get_cleaned_data()  # DataFrame con "type" limpio

# 5️⃣ Mostrar valores únicos de 'type' después de la limpieza
if "type" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'type' después de la limpieza:")
    print(df_cleaned["type"].unique())

# 6️⃣ Mostrar valores únicos de "sex" antes de la limpieza
if "sex" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'sex' antes de la limpieza:")
    print(df_cleaned["sex"].unique())

# 7️⃣ Limpiar la columna "sex"
sex_cleaner = SexCleaner(df_cleaned)
sex_cleaner.clean_sex_column()
df_cleaned = sex_cleaner.get_cleaned_data()  # DataFrame con "sex" limpio

# 8️⃣ Mostrar valores únicos de "sex" después de la limpieza
if "sex" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'sex' después de la limpieza:")
    print(df_cleaned["sex"].unique())

# 9️⃣ Mostrar valores únicos de "country" antes de la limpieza
if "country" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'country' antes de la limpieza:")
    print(df_cleaned["country"].nunique())

# 🔟 Limpiar la columna "country"
country_cleaner = CountryCleaner(df_cleaned)
country_cleaner.clean_country_column()
df_cleaned = country_cleaner.get_cleaned_data()  # DataFrame con "country" limpio

# 1️⃣1️⃣ Mostrar valores únicos de 'country' después de la limpieza
if "country" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'country' después de la limpieza:")
    print(df_cleaned["country"].nunique())

# 1️⃣2️⃣ Mostrar valores únicos de "fatal_y/n" antes de la limpieza
if "fatal_y/n" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'fatal_y/n' antes de la limpieza:")
    print(df_cleaned["fatal_y/n"].unique())

# 1️⃣3️⃣ Limpiar la columna "fatal_y/n"
fatal_cleaner = FatalCleaner(df_cleaned)
fatal_cleaner.clean_fatal_column()
df_cleaned = fatal_cleaner.get_cleaned_data()  # DataFrame con "fatal" limpio

# 1️⃣4️⃣ Mostrar valores únicos de 'fatal' después de la limpieza
if "fatal" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'fatal' después de la limpieza:")
    print(df_cleaned["fatal"].unique())

# 1️⃣5️⃣ Mostrar valores únicos de "time" antes de la limpieza
if "time" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'time' antes de la limpieza:")
    print(df_cleaned["time"].nunique())

# 1️⃣6️⃣ Limpiar la columna "time"
time_cleaner = TimeCleaner(df_cleaned)
time_cleaner.clean_time_column()
df_cleaned = time_cleaner.get_cleaned_data()  # DataFrame con "time" limpio

# 1️⃣7️⃣ Mostrar valores únicos de 'time' después de la limpieza
if "time" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'time' después de la limpieza:")
    print(df_cleaned["time"].nunique())

# 1️⃣8️⃣ Mostrar valores únicos de "species" antes de la limpieza
if "species" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'species' antes de la limpieza:")
    print(df_cleaned["species"].unique())

# 1️⃣9️⃣ Limpiar la columna "species"
species_cleaner = SpeciesCleaner(df_cleaned)
species_cleaner.clean_species_column()
df_cleaned = species_cleaner.get_cleaned_data()  # DataFrame con "species" limpio

# 2️⃣0️⃣ Mostrar valores únicos de 'species' después de la limpieza
if "species" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'species' después de la limpieza:")
    print(df_cleaned["species"].unique())

# 2️⃣1️⃣ Mostrar valores únicos de "year" antes de la limpieza
if "year" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'year' antes de la limpieza:")
    print(df_cleaned["year"].nunique())

# 2️⃣2️⃣ Limpiar la columna "year"
year_cleaner = YearCleaner(df_cleaned)
year_cleaner.clean_year_column()
df_cleaned = year_cleaner.get_cleaned_data()  # DataFrame con "year" limpio

# 2️⃣3️⃣ Mostrar valores únicos de 'year' después de la limpieza
if "year" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'year' después de la limpieza:")
    print(df_cleaned["year"].nunique())

# 2️⃣4️⃣ Mostrar valores únicos de "activity" antes de la limpieza
if "activity" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'activity' antes de la limpieza:")
    print(df_cleaned["activity"].unique())

# 2️⃣5️⃣ Limpiar la columna "activity"
activity_cleaner = ActivityCleaner(df_cleaned)
activity_cleaner.clean_activity_column()
df_cleaned = activity_cleaner.get_cleaned_data()  # DataFrame con "activity" limpio

# 2️⃣6️⃣ Mostrar valores únicos de 'activity' después de la limpieza
if "activity" in df_cleaned.columns:
    print("\n🔹 Valores únicos de 'activity' después de la limpieza:")
    print(df_cleaned["activity"].unique())

# 2️⃣7️⃣ Eliminar duplicados en "case_number"
duplicates_cleaner = DuplicatesCleaner(df_cleaned)
duplicates_cleaner.remove_duplicates()
df_final = duplicates_cleaner.get_cleaned_data()  # DataFrame sin duplicados

# 2️⃣8️⃣ Guardar los datos procesados con nombres de columnas, "type", "sex", "country", "fatal", "time", "species", "year" y sin duplicados
duplicates_cleaner.save_cleaned_data(output_file)

markdown_table = df_final.head(10).to_markdown()
print(markdown_table)

# REPASO FINAL:
# - Comprobamos el tipo de datos
# df_final.info()

# df_final.describe(include='object').T

# df_final.select_dtypes(include='object')

# - Comprobamos las columnas con valores nulos
# df_final.isnull().sum()
# df_final.isnull().sum()/df_final.shape[0] * 100 # Porcentaje de valores nulos es importante

# - Comprobación de duplicados
# df_final.duplicated().sum()/df_final.shape[0] * 100
# Mirar combinaciones de columnas duplicadas
# df_final.duplicated(subset=['ticket', 'id_Cliente']).sum()

# - Formateo de datos
# - a. Cambiar tipo de datos
# df_final['year'] = df_final['year'].astype(int)

# - b. Limpiar datos
# round(), format, string.lower()

# - apply() operaciones por columna
# - map()
# - applymap()

# - Filtrado de datos
# - Aconseja crear nuevos dataframes con cada filtro para conservar el original
# - Filtrado por columnas combinado

# poner indice en la columna que más se va a usar para filtrar
# df_final.set_index('passengerID', inplace=True)

# Crear nueva columna significativa
# df_final['año_nacimiento'] = 2025 - df_final['Age']
# Y Eliminar columna 'Age'
# df_final.drop(columns='Age', inplace=True)

# Mezclas de dataframes
# - 1 Concatenar (une de forma vertical por filas) Es menos usado.
# df_final = pd.concat([df1, df2], axis=0)
# - 2 Merge (une de forma horizontal por columnas a través de una columna común. Lo usaremos más)
# df_final = pd.merge(df1, df2, on='columna_comun' how='inner')
# df_final = pd.merge(df1, df2, left_on='columna1', right_on='columna2', how='inner') # Si las columnas no tienen el mismo nombre en ambos dataframes
# - 3 Join: une por índices (no tan usado)

# Pivot Table: Cambia la forma de la tabla: filas a columnas y viceversa
# df_final.pivot_table(index='country', columns='year', values='GDP', aggfunc='sum')

# Agregaciones: análisis por grupos del dataframe
# df_final.groupby('country')['GDP'].sum()
# df_final.groupby('sex', 'survived')['age'].mean()

✅ Datos cargados correctamente desde ../data/raw/GSAF5.xls
✅ Nombres de columnas limpiados.

🔹 Valores únicos de 'type' antes de la limpieza:
['Unprovoked' 'Provoked' ' Provoked' 'Questionable' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']
✅ Columna 'type' limpiada.

🔹 Valores únicos de 'type' después de la limpieza:
['Unprovoked' 'Provoked' 'Questionable' 'Watercraft' 'Sea Disaster' None
 'Boat']

🔹 Valores únicos de 'sex' antes de la limpieza:
['F' 'M' nan ' M' 'M ' 'lli' 'M x 2' 'N' '.']
✅ Columna 'sex' limpiada.

🔹 Valores únicos de 'sex' después de la limpieza:
['F' 'M' None]

🔹 Valores únicos de 'country' antes de la limpieza:
239
✅ Columna 'country' limpiada.

🔹 Valores únicos de 'country' después de la limpieza:
172

🔹 Valores únicos de 'fatal_y/n' antes de la limpieza:
['N' 'Y' 'F' 'M' nan 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'N ' 'y']
✅ Columna 'fatal' limpiada.

🔹 Valores únicos de 'fatal' después de la limpieza:
[0. 1.]

🔹 Valores únicos de 'time' antes de la limpieza:
436
✅ Columna 'time' limpiada.

🔹 Valores únicos de 'time' después de la limpieza:
4

🔹 Valores únicos de 'species' antes de la limpieza:
['Unknown' 'Bull shark' 'Not stated' ... "12' tiger shark" 'Blue pointers'
 'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable']
✅ Columna 'species' limpiada y valores nulos y 'Unknown' rellenados con la moda.

🔹 Valores únicos de 'species' después de la limpieza:
['Large' 'Small' 'Medium']

🔹 Valores únicos de 'year' antes de la limpieza:
261
✅ Columna 'year' limpiada y valores nulos rellenados con la media.

🔹 Valores únicos de 'year' después de la limpieza:
258

🔹 Valores únicos de 'activity' antes de la limpieza:
['Swimming' 'Bathing' 'Surfing' ...
 'Crew swimming alongside their anchored ship' '4 men were bathing'
 'Wreck of  large double sailing canoe']
✅ Columna 'activity' limpiada.

🔹 Valores únicos de 'activity' después de la limpieza:
['Swimming' 'Bathing' 'Surfing' ...
 'Crew swimming alongside their anchored ship' '4 men were bathing'
 'Wreck of  large double sailing canoe']

🔹 Tamaño antes de eliminar duplicados: (6994, 23)
✅ Tamaño después de eliminar duplicados: (6778, 23)

c:\Users\jesus\Documents\Ironhack\DataAnalyticsFeb2025\Unit 2 - DW & Retrieval\shark-attacks\src\species_cleaner.py:113: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.cleaned_df["species"].fillna(mode_value, inplace=True)
c:\Users\jesus\Documents\Ironhack\DataAnalyticsFeb2025\Unit 2 - DW & Retrieval\shark-attacks\src\year_cleaner.py:42: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  self.cleaned_df["year"].fillna(mean_value, inplace=True)

✅ Datos limpios guardados en ../data/processed/GSAF5_cleaned.xlsx
|     | date                |   year | type       | country          | state                 | location                       | activity                | name               | sex   |   age | injury                                                            |   fatal | time    | species   | source                      | pdf                          | href_formula                                                                       | href                                                                               | case_number   | case_number.1   |   original_order |   unnamed:_21 |   unnamed:_22 |
|----:|:--------------------|-------:|:-----------|:-----------------|:----------------------|:-------------------------------|:------------------------|:-------------------|:------|------:|:------------------------------------------------------------------|--------:|:--------|:----------|:----------------------------|:-----------------------------|:-----------------------------------------------------------------------------------|:-----------------------------------------------------------------------------------|:--------------|:----------------|-----------------:|--------------:|--------------:|
|   0 | 2025-02-07 00:00:00 |   2025 | Unprovoked | Turks and Caicos | nan                   | Thompson Cove Beach            | Swimming                | Unknown            | F     |    55 | Unknown                                                           |       0 | Unknown | Large     | Todd Smith: Platform X      | nan                          | nan                                                                                | nan                                                                                | nan           | nan             |              nan |           nan |           nan |
| 187 | 25-Sep-2022         |   2022 | Unprovoked | SOUTH AFRICA     | Western Cape Province | Central Beach, Plettenberg Bay | Swimming                | Kimon Bisogno      | F     |    39 | FATAL                                                             |       1 | M       | Large     | Mirror, 9/25/2022           | 2022.09.25-Plett.pdf         | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.25-Plett.pdf         | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.25-Plett.pdf         | 2022.09.25    | 2022.09.25      |             6802 |           nan |           nan |
| 189 | 06-Sep-2022         |   2022 | Unprovoked | BAHAMAS          | nan                   | Green Cay                      | Snorkeling              | Caroline DiPlacido | F     |    58 | FATAL                                                             |       1 | T       | Large     | B. Myatt, GSAF              | 2022.09.06-Bahamas.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.06-Bahamas.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.06-Bahamas.pdf       | 2022.09.06    | 2022.09.06      |             6801 |           nan |           nan |
| 190 | 03-Sep-2022         |   2022 | Unprovoked | USA              | Hawaii                | Lower Paia Beach Park, Maui    | Swimming  or Snorkeling | female             | F     |    51 | Injuries to left arm and right hand                               |       0 | T       | Large     | Star Advertiser, 9/3/2022   | 2022.09.03-Maui.pdf          | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.03-Maui.pdf          | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.09.03-Maui.pdf          | 2022.09.03    | 2022.09.03      |             6800 |           nan |           nan |
| 191 | 31-Aug-2022         |   2022 | Unprovoked | AUSTRALIA        | New South Wales       | Avoca                          | Surfing                 | Sunni Pace         | M     |    14 | Puncture wounds to right hand & forearm                           |       0 | M       | Large     | Surfline, 9/2/2022          | 2022.08.31-Pace.pdf          | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.31-Pace.pdf          | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.31-Pace.pdf          | 2022.08.31    | 2022.08.31      |             6799 |           nan |           nan |
| 192 | 17-Aug-2022         |   2022 | Unprovoked | AUSTRALIA        | New South Wales       | Coffs Harbour                  | Kayaking                | John Vincent       | M     |   nan | No injury, kayak bitten in half                                   |       0 | Unknown | Large     | A Currie. GSAF              | 2022.08.17-CoffsHarbour.pdf  | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.17-CoffsHarbour.pdf  | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.17-CoffsHarbour      | 2022.08.17    | 2022.08.17      |             6798 |           nan |           nan |
| 193 | 15-Aug-2022         |   2022 | Unprovoked | USA              | South Carolina        | Myrtle Beach, Horry County     | Swimming                | female             | F     |   nan | Minor injury to leg                                               |       0 | M       | Large     | C. Creswell, GSAF           | 2022.08.15.c-MyrtleBeach.pdf | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.c-MyrtleBeach.pdf | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.c-MyrtleBeach.pdf | 2022.08.15.c  | 2022.08.15.c    |             6797 |           nan |           nan |
| 194 | 15-Aug-2022         |   2022 | Unprovoked | USA              | South Carolina        | Myrtle Beach, Horry County     | Standing                | Karrren Sites      | F     |   nan | Multiple lLacerations to right forearm                            |       0 | T       | Medium    | C. Creswell, GSAF           | 2022.08.15.b-Sites.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.b-Sites.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.b-Sites.pdf       | 2022.08.15.b  | 2022.08.15.b    |             6796 |           nan |           nan |
| 195 | 15-Aug-2022         |   2022 | Unprovoked | AUSTRALIA        | Westerm Australia     | Goode Beach                    | Spearfishing            | Luke Pasco         | M     |    17 | Lacerations to lower legs                                         |       0 | Unknown | Large     | S. De March, GSAF           | 2022.08.15.a-Pasco.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.a-Pasco.pdf       | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.15.a-Pasco.pdf       | 2022.08.15.a  | 2022.08.15.a    |             6795 |           nan |           nan |
| 196 | 13-Aug-2022         |   2022 | Unprovoked | USA              | Florida               | Looe Key, Monroe County        | Snorkeling              | Jameson Reeder Jr, | M     |    10 | Lower left leg severely bitten, necessitating surgical amputation |       0 | T       | Large     | Orlando Sentinel, 8/15/2022 | 2022.08.13-Reeder.pdf        | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.13-Reeder.pdf        | http://sharkattackfile.net/spreadsheets/pdf_directory/2022.08.13-Reeder.pdf        | 2022.08.13    | 2022.08.13      |             6794 |           nan |           nan |

              year        fatal  original_order
count  6778.000000  6778.000000     6777.000000
mean   1970.586309     0.211862     3399.289509
std      50.231287     0.408658     1962.234774
min    1000.000000     0.000000        2.000000
25%    1950.000000     0.000000     1701.000000
50%    1983.000000     0.000000     3400.000000
75%    2008.000000     0.000000     5097.000000
max    2025.000000     1.000000     6802.000000