In [8]:
# Importamos m√≥dulos necesarios
import sys
import os
import pandas as pd

# A√±adimos la ruta de src al path
sys.path.append(os.path.abspath("../src"))

# Importamos las clases
from data_loader import DataLoader
from column_cleaner import ColumnCleaner

# Ruta de entrada y salida
input_file = "../data/raw/GSAF5.xls"
output_file = "../data/processed/GSAF5_cleaned.xlsx"

# 1Ô∏è‚É£ Cargar los datos
loader = DataLoader(input_file)
loader.load_data()
df_original = loader.get_data()  # Guardamos el DataFrame original

# 2Ô∏è‚É£ Limpiar los nombres de las columnas
cleaner = ColumnCleaner(df_original)
cleaner.clean_columns()
df_cleaned = cleaner.get_cleaned_data()  # DataFrame con nombres limpios

# 3Ô∏è‚É£ Guardar los datos procesados
cleaner.save_cleaned_data(output_file)

# 4Ô∏è‚É£ Mostrar resultados
print("üîπ DataFrame original:")
print(df_original.head())

print("\nüîπ DataFrame con nombres de columnas limpios:")
print(df_cleaned.head())

‚úÖ Datos cargados correctamente desde ../data/raw/GSAF5.xls
‚úÖ Nombres de columnas limpiados.
‚úÖ Datos limpios guardados en ../data/processed/GSAF5_cleaned.xlsx
üîπ DataFrame original:
                  Date    Year        Type           Country  \
0  2025-02-07 00:00:00  2025.0  Unprovoked  Turks and Caicos
1  2025-02-03 00:00:00  2025.0  Unprovoked         Australia
2  2025-01-23 00:00:00  2025.0  Unprovoked         Australia
3  2025-01-22 00:00:00  2025.0  Unprovoked         Australia
4  2025-01-11 00:00:00  2025.0    Provoked               USA

               State                       Location  Activity  \
0                NaN            Thompson Cove Beach  Swimming
1         Queensland   Woorim Beach, Bribie Island,  Swimming
2  Western Australia                 Shipwreck Cove   Bathing
3  Western Australia                 Cheynes beach    Surfing
4             Hawaii  Off Haleiwa Boat Harbour Oahu    Diving

                                     Name Sex Age  ...       Species   \
0                                Unknown    F  55  ...        Unknown
1                          Charlize Zmuda   F  17  ...     Bull shark
2                                    Boy    M  12  ...     Not stated
3                             Dale Kittow   M  37  ...  Bronze whaler
4  Male not stated was a dive tour worker   M  23  ...     Not stated

                                     Source  pdf href formula href  \
0                    Todd Smith: Platform X  NaN          NaN  NaN
1  9 News: The Brisbane Times: The Guardian  NaN          NaN  NaN
2                            Bob Myatt GSAF  NaN          NaN  NaN
3                            Bob Myatt GSAF  NaN          NaN  NaN
4         Kevin McMurray Trackingsharks.com  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

üîπ DataFrame con nombres de columnas limpios:
                  date    year        type           country  \
0  2025-02-07 00:00:00  2025.0  Unprovoked  Turks and Caicos
1  2025-02-03 00:00:00  2025.0  Unprovoked         Australia
2  2025-01-23 00:00:00  2025.0  Unprovoked         Australia
3  2025-01-22 00:00:00  2025.0  Unprovoked         Australia
4  2025-01-11 00:00:00  2025.0    Provoked               USA

               state                       location  activity  \
0                NaN            Thompson Cove Beach  Swimming
1         Queensland   Woorim Beach, Bribie Island,  Swimming
2  Western Australia                 Shipwreck Cove   Bathing
3  Western Australia                 Cheynes beach    Surfing
4             Hawaii  Off Haleiwa Boat Harbour Oahu    Diving

                                     name sex age  ...        species  \
0                                Unknown    F  55  ...        Unknown
1                          Charlize Zmuda   F  17  ...     Bull shark
2                                    Boy    M  12  ...     Not stated
3                             Dale Kittow   M  37  ...  Bronze whaler
4  Male not stated was a dive tour worker   M  23  ...     Not stated

                                     source  pdf href_formula href  \
0                    Todd Smith: Platform X  NaN          NaN  NaN
1  9 News: The Brisbane Times: The Guardian  NaN          NaN  NaN
2                            Bob Myatt GSAF  NaN          NaN  NaN
3                            Bob Myatt GSAF  NaN          NaN  NaN
4         Kevin McMurray Trackingsharks.com  NaN          NaN  NaN

  case_number case_number.1 original_order unnamed:_21 unnamed:_22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]