In [6]:
import sys
import os

# Añadimos la ruta de src al path
sys.path.append(os.path.abspath("../src"))

# Importamos la clase DataLoader
from data_loader import DataLoader 

# Ruta del archivo Excel
file_path = "../data/raw/GSAF5.xls"

# Instanciamos y cargamos los datos
loader = DataLoader(file_path)
loader.load_data()

# Obtenemos el DataFrame
df = loader.get_data()

# Mostramos las primeras filas
# loader.show_head(5)
df.head(3)

✅ Datos cargados correctamente desde ../data/raw/GSAF5.xls

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-02-07 00:00:00,2025.0,Unprovoked,Turks and Caicos,NaN,Thompson Cove Beach,Swimming,Unknown,F,55,...,Unknown,Todd Smith: Platform X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-02-03 00:00:00,2025.0,Unprovoked,Australia,Queensland,"Woorim Beach, Bribie Island,",Swimming,Charlize Zmuda,F,17,...,Bull shark,9 News: The Brisbane Times: The Guardian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-01-23 00:00:00,2025.0,Unprovoked,Australia,Western Australia,Shipwreck Cove,Bathing,Boy,M,12,...,Not stated,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN